.new-request {
    width: 100%;
}

.new-request > * {
    width: 60%;
    font-family: CascadiaMono;
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
    background-color: black;
    border: none;
}

.new-request select { width: 100px; }

.new-request textarea {
    width: 70%;
    min-width: 270px;
    max-width: 500px;
    height: 100px;
    resize: none;
    margin-bottom: -90px;
    overflow: auto;
    scrollbar-width: none;
}

.new-request input:nth-last-of-type(3) {
    margin-top: 100px;
}

.request-response {
    width: 100%;
}

.response-textarea {
    width: 99%;
    height: 250px;
    font-family: CascadiaMono;
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
    background-color: black;
    border: none;
    scrollbar-width: none;
    resize: none;
}

pre { 
    display: inline; 
    margin: 0;
}
