{{ define "login" }}
    <div id="login-container">
        <form id="login-form">
            <br />
            <div>
                <label for="email">$  email: </label>
                <input id="login-email" type="text" name="email" placeholder="_" autofocus required />
            </div>
            <br />
            <div>
                <label for="password">$  password: </label>
                <input id="login-password" type="text" name="password" placeholder="_" required />
            </div>
            <input type="submit" hidden />
            <div id="login-response"></div>
            <div id="login-timer"></div>
        </form>
    </div>
{{ end }}

{{ define "signup" }}
    <div id="signup-container">
        <form id="signup-form">
            <br />
            <div>
                <label for="username">$  username: </label>
                <input id="signup-username" type="text" name="username" placeholder="_" autofocus required />
            </div>
            <br />
            <div>
                <label for="email">$  email: </label>
                <input id="signup-email" type="text" name="email" placeholder="_" required />
            </div>
            <br />
            <div>
                <label for="password">$  password: </label>
                <input id="signup-password" type="text" name="password" placeholder="_" required />
            </div>
            <input type="submit" hidden />
            <div id="signup-response"></div>
            <div id="signup-timer"></div>
        </form>
    </div>
{{ end }}

{{ define "profile" }}
    <div id="profile-container">
        <div id="profile-info"></div>
        <div id="profile-buttons">
            <button hx-post="/api/user/logout">logout</button>
            <button hx-delete="/api/user/delete">delete</button>
        </div>
    </div>
{{ end }}
