{{ define "head" }} 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <link rel="stylesheet" href="/css/globals.css">
    <link rel="stylesheet" href="/css/{{ index . 1 }}.css">
    <script src="/js/{{ index . 1 }}.js" defer></script>
    <script src="/js/shortcuts.js" defer></script>
    <link rel="icon" href="/public/favicon.ico">
    <title>postwoman</title>
{{ end }}

{{ define "navbar" }}

    {{ $page := index . 1 }}
    {{ $index_active := "" }}

    {{ if eq $page "index" }}
        {{ $index_active = "navbar-active" }}
    {{ end }}

    <div id="navbar">
        <div>
            <a id="{{ $index_active }}" href="/">home</a>
        </div>
        <div id="navbar-profile"></div>
    </div>
{{ end }}

{{ define "terminal" }}

    {{ $page := index . 1 }}

    <div id="terminal">
        <div id="terminal-header">
            <p>postwoman:~</p>
            <img src="/public/terminal-buttons.webp" alt="Terminal Buttons Image">
        </div>
        <div id="terminal-console">
            {{ if eq $page "index" }}
                <div id="history-modal"></div>
                <div id="favorites-modal"></div>
            {{ else if eq $page "login" }}
                {{ template "login" }}
            {{ else if eq $page "signup" }}
                {{ template "signup" }}
            {{ else if eq $page "profile" }}
                {{ template "profile" }}
            {{ end }}
        </div>
    </div>
{{ end }}

{{ define "shortcuts" }}

    {{ $page := index . 1 }}

    <div id="shortcuts">
        {{ if eq $page "index" }}
            {{ template "index-shortcuts" }}
        {{ else if eq $page "login" }}
            {{ template "login-shortcuts" }}
        {{ else if eq $page "signup" }}
            {{ template "signup-shortcuts" }}
        {{ else if eq $page "profile" }}
            {{ template "profile-shortcuts" }}
        {{ end }}           
    </div>
{{ end }}

{{ define "demo-cover" }}
    <div id="demo-cover">
        <p>don't use your phone to test your api🤦</p>
        <p>go to <a href="https://postwoman.dev">postwoman.dev</a> for demos, docs, and download guides</p>
    </div>
{{ end }}
