{{ define "terminal_login" }}
    <div id="terminal">
        <div id="terminal-header">
            <p>postwoman:~</p>
            <img src="/public/terminal-buttons.webp" alt="Terminal Buttons Image">
        </div>
        <div id="terminal-console"></div>
    </div>
{{ end }}

{{ define "terminal_signup" }}
    <div id="terminal">
        <div id="terminal-header">
            <p>postwoman:~</p>
            <img src="/public/terminal-buttons.webp" alt="Terminal Buttons Image">
        </div>
        <div id="terminal-console"></div>
    </div>
{{ end }}

{{ define "terminal_index" }}
    <div id="terminal">
        <div id="terminal-header">
            <p>postwoman:~</p>
            <img src="/public/terminal-buttons.webp" alt="Terminal Buttons Image">
        </div>
        <div id="terminal-console"></div>
    </div>
{{ end }}
